__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
env/

irrigation_errors.log
api/irrigation_history.db
mlruns/
metrics.json
automl_metrics.json

irrigation_frontend/node_modules/
irrigation_frontend/dist/

.dvc/cache/
